

.delevery_timer_modal {
	/* z-index: 1000;
	width: 600px;
	margin-left: -300px; */
	z-index: 203;
}

.delevery_timer_modal h2 {
	font-size: 24px;
	text-align: center;
	height: 80px;
	line-height: 80px;
}

.delevery_timer_modal section ul {
	display: grid;
	grid-template-columns: 25% 25% 25%; 
    grid-template-rows: 100px 100px;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.delevery_timer_modal section ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #ddd;
	cursor: pointer;
}

.delevery_timer_modal button.accept {
	background: #30DAD9;
}


.select {
	background: #30DAD9 !important;
	color: #fff;
	
}




@media ( max-width :600px) {
	.delevery_timer li {
		margin: 10px;
		height: 60px;
	}
}

