.inf .fas {
	color: gold;
}

.is_open {
	display: none;
}

#tab {
	width: 95%;
	margin: 0 auto;
}

section.tab {
	width: 100%;
	margin-top: 50px;
}

section.tab ul {
	display: flex;
	background: #333333;
}

section.tab ul li {
	width: 100%;
	text-align: center;
	border: 0px;
	font-size: 2rem;
	background: #333333;
	line-height: 30px;
	cursor: pointer;
	height: 60px;
	display: flex;
	justify-content: center;
}

section.tab ul li a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 60px;
}

section.tab ul li:hover {
	background: #30DAD9;
	transition: ease-in-out 0.15s
}

section.box form {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}

section.box button,
section.box input {
	padding: 5px;
	border: 1px solid #999;
}

.store_search {
	width: 70%;
	max-width: 300px;
}

.store_reg_btn button {
	width: 120px;
	margin: 15px;
	background: #eee;
}

.store_search input {
	border-radius: 10px;
	width: 55%;
}

.store_search button {
	width: 40px;
}

	 


/* 콘텐츠 */
main {
	background: #fff;
}
main h1 {
	margin-left: 10px;
}

/* 상단 카테
/* 콘텐츠 */
@media ( max-width :1250px) {
	#tab {
		width: 100%;
	}
}

@media ( max-width :1150px) {
}

@media ( max-width :1024px) {
	/* 탭 */
	section.tab {
		margin-top: 0px;
		display: none;
	}
	.tab .box {
		display: block;
	}
		
	header .admin_page_btn  {
		display: none;
	}
	header .menu_tab {
		display: block;
	}
	
	/* 탭 */
}

@media ( max-width :767px) {
	
	section.tab ul li {
		height: 50px;
	}
	section.tab ul li a {
		line-height: 50px;
	}
	
	section.box {
		font-size: 1.5rem;
	}
	.store_reg_btn button {
		width: 80px;
	}
	
	section.box button, 
	section.box input {
		border-radius: 10px;
	} 
}
@media ( max-width :767px) {
	
	.store_reg_btn button {
		margin: 15px 10px;
	}
}


